html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: compact;



}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  margin: 0px;
  vertical-align: middle;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: #c0c0c0 solid 1px;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: lightgrey;
  font-size: 15px;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  box-sizing: content-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: black;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #1E2D37;
  padding: 0.2em 0;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/montserrat-v25-latin_cyrillic-300.woff2") format('woff2'), url("./fonts/montserrat-v25-latin_cyrillic-300.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v25-latin_cyrillic-regular.woff2") format('woff2'), url("./fonts/montserrat-v25-latin_cyrillic-regular.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/piazzolla-v29-latin_cyrillic-200.woff2") format('woff2'), url("./fonts/piazzolla-v29-latin_cyrillic-200.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/piazzolla-v29-latin_cyrillic-regular.woff2") format('woff2'), url("./fonts/piazzolla-v29-latin_cyrillic-regular.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/piazzolla-v29-latin_cyrillic-600.woff2") format('woff2'), url("./fonts/piazzolla-v29-latin_cyrillic-600.woff") format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #222;
}

.wrapper {
  margin-left: auto;
}

.header {
  margin-top: 7px;
  margin-left: 7px;
  display: flex;
  background-color: #FFFEFE;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255, 0.9);
  border-radius: 40px;
}

.header__wrapper {
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 90px;
}

.header__nav {
  margin: 12px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.header__list__l {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: last-baseline;
  align-items: center;
  margin-top: -5px;
}

.header__list__b {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header__item {
  margin-left: 30px;
  vertical-align: middle;
}

.header__item1 {
  margin-left: 30px;
  vertical-align: middle;
}

.lol {
  background-image: url(./img/logo.png);
}

.header__item:first-child {
  margin-left: 0;
}

.header__btns {
  margin-right: 25px;
}

.header__btns:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 20px;
  line-height: 29px;
  color: #1E1E1E;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.80;
}

h1 {
  font-family: 'Piazzolla';
  font-weight: 500;
  font-size: 112px;
  line-height: 123px;
  text-align: center;
  color: #1E2D37;
}

h2 {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  color: #1E2D37;
}

h3 {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #1E2D37;
}

p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #1E2D37;
}

.top {
  width: 100%;
  height: auto;
  background-image: url(img/fon.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: last-baseline;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 200px;
}




.btn__1st {
  width: 210px;
  height: 56.26px;
  left: 342px;
  top: 294.34px;
  background: #1D4E31;
  border-radius: 40px;
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  border: aliceblue;
}

.btn__2nd {
  width: 140px;
  height: 56px;
  left: 0;
  top: 0;
  background: #EAECE7;
  border-radius: 40px;
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #1D4E31;
  border: aliceblue;
}

.place__img {
  width: 262px;
  height: 262px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.modal-container {
  background: #fff;
  position: relative;
  padding: 22px;
  width: 400px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: rgb(255, 255, 255);
  background: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

.form-registration {
  width: 102%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-registration input {
  width: 71%;
  height: 35px;
}

.form-registration label {
  font-size: 14px;
}

.enter-with {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.submit-btn {
  border-radius: 40px;
  background: #1D4E31;
  color: #ffffff;
  border: none;
  font-size: 20px;
}

.news__img {
  width: 339px;
  height: 285px;
  border-radius: 40px;
}

.news__href {
  width: 270px;
  height: 34px;
  background: #E4FAEE;
  border-radius: 40px;
  font-size: 20px;
}

.place {
  padding: 40px;
}

.place__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.place__item {
  padding-top: 64px;
  padding-bottom: 80px;
}

.place__img {
  margin-bottom: 23px;
}

.place__fig__h3 {
  max-width: 290px;
  margin-bottom: 22px;
}

.place__fig__p {
  max-width: 290px;
}

.about {
  background-color: #E4FAEE;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 40px;
  margin: 7px;
}

.news__wrapper {}

.about__h2 {
  margin-bottom: 40px;
}

.about__p {
  display: contents;
  width: 1157px;
  margin: 0 auto;
}

.news__h2 {
  margin-bottom: 30px;
}

.news__list {
  max-width: 1350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-inline: 60px;
}

.news__fig {
  margin-bottom: 120px;
}

.news__img {
  width: 330px;
  height: 285px;
  background-color: #E4FAEE;
  border-radius: 40px;
  margin-bottom: 20px;
}

.news__h3 {
  margin-bottom: 30px;
  width: 340px;
  text-align: center;
}

.news__p {
  margin-bottom: 30px;
  width: 340px;
  text-align: center;
}

.news__link {
  margin: 82px;
  width: 179px;
  height: 36px;
  background-color: #E4FAEE;
  border-radius: 38px;
  text-align: -webkit-center;
  padding-top: 0px;
  border-style: initial;
}

.news__link:hover,
.news__link:focus,
.news__link:active {
  opacity: 0.80;
}

.news__href {
  text-decoration: none;
  color: #1E1E1E;
}

.up {
  margin-bottom: 80px;
  text-align: right;
  margin-right: 60px;
}

.up__link {
  color: #1E1E1E;
  text-decoration: none;
}

.up__link:hover,
.up__link:focus,
.up__link:active {
  opacity: 0.80;
}

.foot__h2 {
  margin-top: 6px;
  margin-bottom: 40px;
  background-color: #E4FAEE;
}

.foot__sec {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.foot__link {
  display: contents;
  margin-right: 200px;
}

.foot__link:last-child {
  margin-right: 0;
}

.foot__link:hover,
.foot__link:focus,
.foot__link:active {
  opacity: 0.80;
}

.foot__dis {
  margin-bottom: 40px;
}

.top {
  text-align: -webkit-center;
}

.top__h1 {
  margin-bottom: 8px;
}

.top__p1 {
  margin-bottom: 16px;
  font-size: 40px;
}

.top__p2 {
  margin-bottom: 24px;
}





@media only screen and (max-width: 1314px) {
  .header__item {
    display: none;
  }
}




@media only screen and (max-width: 1314px) {
  .header__btns {
    display: none;
  }
}


@media only screen and (max-width: 1314px) {
  .header__list__b {
    display: none;
  }
}


@media only screen and (max-width: 1314px) {
  .header {
    background: none;
  }
}



@media screen and (max-width: 681px) {
  h1 {
    font-size: 70px;
  }
}


@media screen and (max-width: 1315px) {
  .dropbtn {
    display: flex;
  }
}

@media screen and (min-width: 1315px) {
  .dropbtn {
    display: none;
  }
}

.reg1 {
  font-size: 44px;
}





.dropbtn {
  background: url(./img/menu.svg);
  height: 25px;
  width: 25px;
  padding: 13px;
  transform: scale(3);
  border: cadetblue;
  size: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: inline-end;
  margin: 25px;
  margin-right: 31px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-left: -123px;
  display: grid;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}


